* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    top: 100px;
    left: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: black;
    color: white;
    transition: .5s;
    display: block;
    margin: auto;
    position: relative;
    top: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}
